.data-container {
    align-items: center;
    color: rgb(107, 107, 107);
    display: block;
    margin: 10px 0
}
.adnot {
    color: black;
    margin: 5px 0;
}

.buttons {
    margin: 5px;
}

.marg {
    margin: 0 5px;
}