<style>
.hov:hover {
cursor: pointer;
}
</style>

<div class="page-body" >
<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-lg-6 offset-lg-3 text-center">
        <h1  class="txt-highlight text-center m-t-20">
          Wyniki dla: <i>{{ searchString }} </i>
        </h1>
      Strona {{ this.currPage }} z {{ this.pageCount - 1 }}
      </div>
    </div>
   <div class="row" style="margin:auto; text-align:center">
    </div>
  </div>
</div>


    <div class="row" style="max-width: 1000px; margin: auto;" >
     <div *ngFor="let item of booksPage " class="col-xl-3 col-md-6" style="">
       <div class="card user-card">
         <div class="card-block text-center">
           <div class="" style="">
             <img height="120px" width="120px" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2F4.bp.blogspot.com%2F-nsJPARPvroM%2FVerAOx3o7KI%2FAAAAAAAAElQ%2Fz9orWEOiBsk%2Fs1600%2Flalka.jpg&f=1&nofb=1" class="" alt="User-Profile-Image">
           </div>
           <h6 class="m-t-25 m-b-10">{{ item.title }}</h6>
           <p class="text-muted">{{ item.author }}</p>
           <p class="text-c d-block">{{ item.city }}</p>
           <p class="text-c d-block">{{ item.price }}zł</p>
           <i *ngIf="item.exchange; else noexchange" class="fa fa-check"> Wymiana</i>
           <ng-template #noexchange><i class="fa fa-close"> Wymiana</i></ng-template>
           <button class="btn btn-primary d-block ripple light">Więcej</button>
         </div>
       </div>
     </div>
</div>


<div class="row">

  <div class="" style="margin: auto;">
    <div class="dataTables_paginate paging_simple_numbers" id="simpletable_paginate" style="margin: auto;">
      <ul class="pagination">
        <li class="paginate_button page-item previous disabled hov" [ngClass]="{'disabled' : currPage == 0}" id="simpletable_previous" (click)="previousPage()">
          <a aria-controls="simpletable" data-dt-idx="0" tabindex="0" class="page-link">Poprzednia</a>
        </li>
        <li class="paginate_button page-item hov" [ngClass]="{'active ' : currPage == i}"  *ngFor="let n of numSequence(pageCount); let i = index;"   >
          <a  (click)="changePage(i)" aria-controls="simpletable" data-dt-idx="1" tabindex="0" class="page-link">{{ i }}</a>
        </li> 
        <li class="paginate_button page-item next hov" [ngClass]="{'disabled' : currPage == pageCount - 1}" id="simpletable_next" (click)="nextPage()">
          <a aria-controls="simpletable" data-dt-idx="3" tabindex="0" class="page-link">Następna</a>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

<br><br>

