
<style>
.img-small {
}
.small {
}
.small:hover {
cursor: pointer;
}
#other-img {
!background-color: pink;
color:red;
width: 100%;
}
.sth {
text-align: center;
}

#bigThumbnail {
width: 410px;  
max-height: 510px; 
background-color: rgb(250, 250, 250); 
padding: 5px; 
}

@media only screen and (max-width: 513px) {
#bigThumbnail {
width: 100%;  
}
}

#right {
    width: 100%;
}
@media only screen and (min-width: 513px) {
#right {
min-width: 410px;
}
}

#bigThumbnailKid {
max-height: 500px;  
margin: auto; 
line-height: 500px; 
text-align: center;
}

#bigImg {
max-height: 500px;
width: 100%;

!max-width:300px;
}
.nopadding {
padding: 0 !important;
}
</style>
       <div style="margin:auto; max-width: 1200px;">
            <div class="row col-14" style="">
              <div style="margin:auto; ">
                <div class="" id="bigThumbnail" >
                  <div class="thumbnail" id="bigThumbnailKid">
                    <div class="thumb ">
                        
                        <img *ngIf="!mainImageSrc && loaded" src="assets/images/brak_zdjecia.png" alt="" class="img-fluid ">
                        <img *ngIf="mainImageSrc" src="{{apiUrl}}img/{{mainImageSrc}}" alt="" class="img-fluid ">
                    <!--
                        <img [src]="mainImageSrc" alt="" class="img-fluid ">
                        -->
                        <!--
                        <img *ngIf="!offerData.imgName1 && !offerData.imgName2 && !offerData.imgName3" src="assets/images/brak_zdjecia.png" class="img-fluid" alt="zdjecie">
                        <img *ngIf="offerData.imgName1 && (offerData.icon == 0 || offerData.icon == 1)" src="{{apiUrl}}img/{{offerData.imgName1}}" class="img-fluid" alt="zdjecie">
                        <img *ngIf="offerData.imgName2 && offerData.icon == 2" src="{{apiUrl}}img/{{offerData.imgName2}}" class="img-fluid" alt="zdjecie">
                        <img *ngIf="offerData.imgName3 && offerData.icon == 3" src="{{apiUrl}}img/{{offerData.imgName3}}" class="img-fluid" alt="zdjecie">
                        -->
                    </div>
                  </div>
                </div>

                <div id="other-img" style="max-width: 410px; margin: auto;" class="row">
                  <div *ngIf="offerData.imgName1" (click)="setMainImg(1)" class="small col-4 nopadding">
                    <div class="thumbnail" style="">
                      <div class="thumb ">
                          <img src="{{apiUrl}}img/{{offerData.imgName1}}" alt="" class="img-fluid img-thumbnail img-small">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="offerData.imgName2" (click)="setMainImg(2)" class="small col-4 nopadding">
                    <div class="thumbnail" style="">
                      <div class="thumb ">
                        <img src="{{apiUrl}}img/{{offerData.imgName2}}" alt="" class="img-fluid img-thumbnail img-small">
                      </div>
                    </div>
                  </div>
                  <div *ngIf="offerData.imgName3" (click)="setMainImg(3)" class="small col-4 nopadding">
                    <div class="thumbnail" style="">
                      <div class="thumb ">
                        <img src="{{apiUrl}}img/{{offerData.imgName3}}" alt="" class="img-fluid img-thumbnail img-small">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-xl-7 col-lg-6 col-12 offset-0" id="right" >
                <div *ngIf="offerData" class="card" style="width=100%;">
                  <div class="card-header">
                    <h2>{{ offerData.book.title }}</h2>
                    <h6>{{ offerData.book.author }}</h6>
                  </div>
                  <div class="card-block" style="min-height: 300px;">
                    <div class="row" style="border-bottom: solid; padding-bottom: 15px; border-width: 1px; border-color: rgb(240,240,240);">
                      <div class="col-6" style=" text-align: left;">{{ offerData.address.name }}</div>
                      <div class="col-6" style=" text-align: right;">Cena: {{ offerData.price }}zł</div>
                    </div>
                    <div class="row" style="padding: 15px; min-height: 200px;  border-bottom: solid; border-width: 1px; border-color: rgb(240,240,240);">
                      {{ offerData.content }}
                    </div>
                    <div class="row " style="padding: 15px; border-bottom: solid; border-width: 1px; border-color: rgb(240,240,240); line-height: 20px;">
                      <div class="col-6" style="text-align: left; margin: auto;">
                        <ng-template [ngIf]="offerData.type"><i class="fa fa-check" style="line-height: 20px"></i>&nbsp;Wymiana</ng-template>
                        <ng-template [ngIf]="!offerData.type"><i class="fa fa-close" style="line-height: 20px"></i>&nbsp;Wymiana </ng-template>
                      </div>
                      <div class="col-6" style="text-align: right; margin: auto;">
                        {{offerData.book.category.name}}
                      </div>
                    </div>
                    <div class="row" style="padding-top: 15px;">
                      <ng-template [ngIf]="offerData.user"><div class="col-6" style="text-align: left; margin: auto;">Od {{ offerData.user.userName }}</div></ng-template>
                      <ng-template [ngIf]="!offerData.user"><div class="col-6" style="text-align: left; margin: auto;"></div></ng-template>
                      <div class="col-6" style="text-align: right; margin: auto;">Dodano: {{toDate(offerData.createdOn) | date:'fullDate':'+0200':'pl'}}</div>
                    </div>
                    <div class="row" style="padding-top: 15px;">
                      <div *ngIf="loged" class="" style="padding-left: 15px;">
                        <button class="btn btn-primary d-block" (click)="sendMessage(offerData.user)">Wyślij wiadomość</button>
                      </div>
                      <div *ngIf="deleteOffer" class="col-8" style="padding-right: 15px;">
                        <button class="btn btn-danger d-block pull-right" style="" (click)="deleteOff()">Usuń</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
</div>
<br><br>



