<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <!-- Authentication card start -->
  
          <form class="md-float-material form-material" [formGroup]="form">
            <div class="text-center">
              <a [routerLink]="['']" ><img src="assets/logologo.png" alt="logo.png"></a>
          </div>
            <div class="auth-box card">
              <div class="card-block">
                <alert></alert>
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-center">Zmień Hasło</h3>
                  </div>
                </div>
                <div class="form-group form-primary">
                  <input type="password" formControlName="oldpassword" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.oldpassword.errors }">
                  <span class="form-bar"></span>
                  <label class="float-label form-control-label" for="oldpassword">Hasło</label>
                  <div *ngIf="submitted && f.oldpassword.errors" class="invalid-feedback">
                      <div *ngIf="f.oldpassword.errors.required">Hasło nie może być puste.</div>
                      
                  </div>
              </div>
              <div class="form-group form-primary">
                  <input type="password" formControlName="newpassword" class="form-control" 
                      [ngClass]="{ 'is-invalid': submitted && f.newpassword.errors }">
                  <span class="form-bar"></span>
                  <label class="float-label form-control-label" for="newpassword">Nowe Hasło</label>
                  <div *ngIf="submitted && f.newpassword.errors" class="invalid-feedback">
                      <div *ngIf="f.newpassword.errors.required">Hasło nie może być puste.</div>
                      <div *ngIf="f.newpassword.errors.minlength">Hasło musi zawierać co najmniej 4 znaki.</div>
                      <div *ngIf="f.newpassword.errors.maxLength">Hasło nie może być dłuższe niż 128 znaków.</div>
                  </div>
              </div>
                <div class="row">
                  <div class="col-md-12">
                    <button type="button" class="btn btn-success btn-md btn-block waves-light text-center m-b-20 ripple" (click)='changeButtonClicked()'>Zmień</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
  </section>
  