<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <!-- Authentication card start -->
                <form class="md-float-material form-material" #validationForm="ngForm" novalidate>
                    <div class="text-center">
                        <img src="assets/images/logo.png" alt="logo.png">
                    </div>
                    <div class="auth-box card">
                        <div class="card-block">
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <h3 class="text-center txt-primary">Zaloguj Się</h3>
                                </div>
                            </div>
                            <div class="row m-b-10">
                                <div class="col-md-12">
                                    <button class="btn btn-outline-primary btn-block" (click)="facebookButtonClicked()"><i class="fa fa-facebook"></i>Facebook</button>
                                </div>
                            </div>
                            <div class="row m-b-20">
                                <div class="col-md-12">
                                    <button id="googleBtn" class="btn btn-outline-danger btn-block"><i class="fa fa-google"></i>Google</button>
                                </div>
                            </div>
                            <div class="or-container">
                                <div class="line-separator"></div>
                                <div class="or-label">LUB</div>
                                <div class="line-separator"></div>
                            </div>
                            <div class="form-group form-primary">
                                <input type="text" id="email" name="email" class="form-control"
                                [ngClass]="{'is-invalid': !email.valid && (email.dirty || email.touched || submit)}" #email="ngModel" required email 
                                [(ngModel)]="formInput.email">
                                <span class="form-bar"></span>
                                <label class="float-label form-control-label" for="email">E-mail</label>
                                <label *ngIf="!email.valid && (email.dirty || email.touched || submit)" id="validation-email-error" 
                                class="error jquery-validation-error small form-text invalid-feedback">Niepoprawny adres email!</label>
                            </div>
                            <div class="form-group form-primary">
                                <input type="password" name="password" class="form-control"
                                [ngClass]="{'is-invalid': !password.valid && (password.dirty || password.touched || submit)}" 
                                #password="ngModel" required [(ngModel)]="formInput.password">
                                <span class="form-bar"></span>
                                <label class="float-label form-control-label" for="password">Hasło</label>
                                <label *ngIf="!password.valid && (password.dirty || password.touched || submit)" id="validation-password-error" 
                                class="error jquery-validation-error small form-text invalid-feedback">Niepoprawne hasło!</label>
                            </div>
                            <div class="row m-t-25 text-left">
                                <div class="col-12">
                                    <div class="forgot-phone text-left f-left">
                                        <a [routerLink]="['/auth/forgot']" class="text-left f-w-600"> Przypomnienie hasła</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row m-t-30">
                                <div class="col-md-12 form-group">
                                    <button type="button" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20" (click)="logInButtonClicked(validationForm)">Zaloguj się</button>
                                    
                                </div>
                            </div>
                            <p class="text-inverse text-left">Nie masz konta? <a [routerLink]="['/auth/signup']"> <b>Zarejestruj się! </b></a></p>
                        </div>
                    </div>
                </form>
                <!-- end of form -->
                <!-- Authentication card end -->
            </div>
            <!-- end of col-sm-12 -->
        </div>
        <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
</section>