<style>

.card {
  font-family: sans-serif;
  font-size: 18px;
  background: #D2D2D2;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.search-bar {
  height: 50px;
  !float: left;
  text-indent: 10px !important;
  border-style: none;
}

.search-button {
  height: 50px;
  !width: 15%;
  width: 40px;
  border-style: none;
}

.search-button:hover {
  cursor: pointer;
}

.search-icon {
  background-color: white; 
  color: black; 
  width: 100%; 
  !width: 50px; 
  border-radius: 0px;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
  border-style: none;
  border-left-style: solid;
}

.search-icon:hover {
  background-color: rgb(200, 200, 200);
}

.search-drop-down {
  position: absolute;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
  background-color: #F6F6F6;
  font-family: sans-serif;
  opacity: 0.98;
}


.search-results {
 padding: 10px;
}

.search-results:hover {
 background: #707070;
}

.nomargin {
margin: 0px;
}
.nopadding {
padding: 0px;
}

.city-border {
  border-width: 1px;
  border-style: none;
  border-left-style: solid;
  border-color: rgb(220, 220, 220);

}

.city-width {
width: 40%;
min-width: 200px;
}

.city-input-width {
/* Firefox */
width: -moz-calc(100% - 40px);
/* WebKit */
wdith: -webkit-calc(100% - 40px);
/* Opera */
width: -o-calc(100% - 40px);
/* Standard */
width: calc(100% - 40px);
}

.drop-down-city {
/* Firefox */
width: -moz-calc(40% - 40px);
/* WebKit */
wdith: -webkit-calc(40% - 40px);
/* Opera */
width: -o-calc(40% - 40px);
/* Standard */
width: calc(40% - 40px);
}

.title-width {
width: 60%;
min-width: 200px;
}
.drop-down-title {
  width: 60%;
}

@media only screen and (max-width: 666px) {
.city-width {
width: 100%;
margin-top: 20px;
}
.city-border {
border-left-width: 0px;
}
.drop-down-city {
  width: 100%;
}

.title-width {
width: 100%;
}
.drop-down-title {
  width: 85%;
}


}

</style>

<div class="nopadding" style="max-width: 800px; margin: auto; ">
  <div class="card-block nopadding ">
    <div class="row">
      <div class="col-12">
        <h1 class="txt-highlight text-center m-t-20">
          Wyszukiwarka
        </h1>
      </div>
    </div>
    <div class=" col-12 nopadding " style="">
      <form  [formGroup]='stateForm' autocomplete="new-password" novalidate>
        <div class="row col-12 nopadding " style=" margin: auto; ">
          
          <div style=" " class="nopadding title-width">
            <input id='search' autocomplete="off"  placeholder="tytuł, autor" formControlName='search' 
              (keyup.enter)="onEnterSearch($event)"  (click)=' openDropDown() ' 
              (keyup)="onStrokeSearch($event)" class=' input-underline search-bar ' type='text' 
              style="width:100%;">
            
            <div clickOutside (clickOutside)="closeDropDown()" style="">
              <div *ngIf='showDropDown' class='search-drop-down drop-down-title'>
                <div (click)='selectValue(s)' class='search-results ' *ngFor="let s of states | searchFilter: getSearchValue()">
                  <a [innerHTML]="s | letterBold: getSearchValue()">
                    {{s}}
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          <div style="float: left; " class=" nopadding city-width">
            <input id='search2' autocomplete="off"  placeholder="miasto" formControlName='search2' 
              (keyup.enter)="onEnterSearch2($event)"  (click)=' openDropDown2() ' 
              (keyup)="onStrokeSearch2($event)" class=' input-underline search-bar city-border city-input-width' type='text' 
              style="float: left;">
            <span class="input-group-append search-btn search-button " (click)="onSubmit()" ><i class="icon-search input-group-text search-icon" ></i></span>
           
             <div clickOutside (clickOutside)="closeDropDown2()">
              <div *ngIf='showDropDown2' class='search-drop-down drop-down-city'>
                <div (click)='selectValue2(s)' class='search-results ' *ngFor="let s of cities | searchFilter: getSearchValue2()">
                  <a [innerHTML]="s | letterBold: getSearchValue2()">
                    {{s}}
                  </a>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
      </form>
    </div>
  </div>
</div>


