<div class="page-body">
    <div class="row">
      <div class="col-lg-12">
          <div class="card">
            <div class="row">
                <div class="col-sm-4 user-profile bg-c-lite-green">
                    <div class="card-block text-center">
                        <div class="m-b-25"> 
                            <img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image"> 
                        </div>
                        <h6 class="f-w-600">Username</h6>
                        <p>Dołączył: 21.04.2021</p> <i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="card-block">
                        <div class="card-header">
                            <h5 class="card-header-text">Ogłoszenia</h5>
                        </div>
                        <div class="card b-l-success business-info services m-b-20">
                            <div ngbDropdown class="card-header">
                                <div class="service-header">
                                    <a href="javascript:"><h5 class="card-header-text">Shivani Hero</h5></a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>